.animated-gradient {
  background-size: 200%;
  animation: infinite background-loop 3s;
  animation-timing-function: linear;
}

@keyframes background-loop {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}
