.steps-container {
  margin-left: 1.3rem;
  padding-left: 2rem;
  border-left: 1px solid;
  border-image: linear-gradient(
      to bottom,
      theme("colors.orange.400"),
      transparent
    )
    1 100%;
}

@screen sm {
  .steps-container {
    margin-left: 2rem;
    padding-left: 2.5rem;
  }
}
