.steps-container {
  margin-left: 1.3rem;
  padding-left: 2rem;
  border-left: 1px solid;
  border-image: linear-gradient(
      to bottom,
      theme("colors.orange.400"),
      transparent
    )
    1 100%;
}

@screen sm {
  .steps-container {
    margin-left: 2rem;
    padding-left: 2.5rem;
  }
}

@layer {
  .item-card {
    @apply flex cursor-pointer flex-col gap-4 rounded-3xl bg-slate-100 p-3 text-center text-gray-700 transition-all duration-500 sm:p-5;
  }

  :global(.dark) .item-card {
    @apply bg-zinc-900/50 text-zinc-300;
  }

  .item-card:hover {
    @apply bg-gradient-to-br from-orange-200 to-pink-400 text-pink-700 shadow-xl;
  }

  :global(.dark) .item-card:hover {
    @apply from-orange-300 to-pink-800 text-pink-100;
  }
}
