@keyframes updown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes updown-slow {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.7rem);
  }
  to {
    transform: translateY(0);
  }
}
