@keyframes updown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes updown-slow {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.7rem);
  }
  to {
    transform: translateY(0);
  }
}

.music-player {
  transform: translateY(5px);
}

@media screen("lg") {
  .play-list {
    animation: updown-slow 4s infinite;
    animation-timing-function: ease-in-out;
  }

  .music-player {
    animation: updown 5s infinite;
    animation-timing-function: ease-in-out;
  }
}
