/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background-color);
}

.hero__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

.hero__title {
  color: ghostwhite;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero__text {
  font-size: 1.25rem;
}

.discord {
  color: #5865F2;
}

.button {
  background: rgb(59, 84, 246);
  color: white;
  padding: .75rem 3rem;
  box-shadow: 2px 2px 12px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
}

.button:hover {
  color: white;
}

.ctaContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 2rem;
  margin: 0 calc(var(--global-padding) * -1);
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #28294a 0%, #1b2836 74%);
}

.ctaContainer h2 {
  margin-bottom: 3rem;
}

.hero__subtitle {
  color: white;
  font-size: 4.55rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  border-radius: 15px;
  width: 56px;
  height: 56px;
  transition: .3s;
}

.icon:hover {
  border-radius: 5px;
}

.servers {
  display: flex;
}

.servers_wrapper {
  display: flex;
  align-items: center;
  background: #2e333a;
  padding: 1rem var(--global-padding);
  margin: 0 calc(var(--global-padding) * -1);
}

.servers_wrapper > h2 {
  flex-grow: 1;
  margin: 0;
}

.icon__wrapper {
  width: 56px;
  height: 56px;
  position: relative;
  margin: .5rem 0 .5rem 1.2rem;
}

.partner__wrapper {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.partner__bg {
  position: absolute;
  color: hsl(235, 85.6%, 64.7%)
}

.partner__icon {
  position: absolute;
  color: white;
}

@media (max-width: 1440px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__subtitle {
    font-size: 3.55rem;
  }
}

@media (max-width: 1024px) {
  .servers_wrapper {
    margin-top: 4rem;
    padding: 1rem 1rem;
  }

  .servers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .icon__wrapper {
    margin: .5rem .6rem;
  }

  .button {
    padding: .5rem 2.75rem;
  }
}

@media (max-width: 728px) {
  .servers_wrapper {
    flex-direction: column;
    margin: 0 calc(var(--global-padding) * -1);
    border-radius: 0;
  }

  .servers_wrapper > h2 {
    font-size: 1.5rem;
    margin: .5rem 0;
  }

  .buttons {
    width: 100%;
    text-align: center;
  }

  .button {
    flex-grow: 1;
  }
}

@media (max-width: 996px) {
  .hero__title {
    font-size: 1.75rem;
  }

  .hero__subtitle {
    padding-top: 0;
    font-size: 2.25rem;
  }

  .hero__text {
    font-size: 1rem;
  }
}