@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-background: var(--color-fd-background);
  --color-foreground: var(--color-fd-foreground);
  --color-muted: var(--color-fd-muted);
  --color-muted-foreground: var(--color-fd-muted-foreground);
  --color-popover: var(--color-fd-popover);
  --color-popover-foreground: var(--color-fd-popover-foreground);
  --color-card: var(--color-fd-card);
  --color-card-foreground: var(--color-fd-card-foreground);
  --color-border: var(--color-fd-border);
  --color-primary: var(--color-fd-primary);
  --color-primary-foreground: var(--color-fd-primary-foreground);
  --color-secondary: var(--color-fd-secondary);
  --color-secondary-foreground: var(--color-fd-secondary-foreground);
  --color-accent: var(--color-fd-accent);
  --color-accent-foreground: var(--color-fd-accent-foreground);
  --color-ring: var(--color-fd-ring);

  @keyframes servers-loop {
    from {
      transform: translateZ(0);
    }
    to {
      transform: translate3d(-50%, 0, 0);
    }
  }

  @keyframes background-loop {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 200%;
    }
  }

  @keyframes updown {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.5rem);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes updown-slow {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.7rem);
    }
    to {
      transform: translateY(0);
    }
  }
}

.prose {
  --tw-prose-body: var(--color-fd-muted-foreground);
}

@variant lg {
  .play-list {
    animation: updown-slow 4s infinite;
    animation-timing-function: ease-in-out;
  }

  .music-player {
    animation: updown 5s infinite;
    animation-timing-function: ease-in-out;
  }
}


#nd-home-layout li > a {
  @apply mx-0;
}