.steps-container {
    margin-left: 2rem;
    counter-reset: step;
    border-left: 1px solid;
    padding-left: 2.5rem;
    border-color: white;
    border-image: linear-gradient(
            to bottom,
            theme("colors.orange.400"),
            transparent
        )
        1 100%;
}
