.container {
    margin: .5rem 0;
    gap: 1rem;
    text-align: center;
    overflow: hidden;
}

.text {
    margin-bottom: 1rem;
    display: block;
    font-size: .8rem;
    opacity: .75;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-weight: 500;
}