.container {
    margin: .5rem 0;
    display: grid;
    gap: 1rem;
    text-align: center;
    overflow: hidden;
}

.text {
    font-size: .8rem;
    opacity: .75;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}