.adsense {
  &__container {
    margin: 0.5rem 0;
    gap: 1rem;
    text-align: center;
    overflow: hidden;
  }

  &__text {
    margin-bottom: 1rem;
    display: block;
    font-size: 0.8rem;
    opacity: 0.75;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }
}
