/* You can override the default Infima variables here. */
:root {
  --bg-primary: rgb(14, 10, 22);
  --ifm-color-primary: rgb(96, 148, 234);
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: black;
  --global-padding: 8rem;
}

@media (max-width: 1000px) {
  :root {
    --global-padding: 0;
  }
}
